*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, "New Times Roman", Helvetica
}

body {
    overflow: scroll;
}

table {
    width: 10%;
    border: 0px solid black;
    overflow-wrap: normal;
}

caption {
    caption-side: bottom;
    font-family: Arial;
    font-size: small;
}

th {
    text-align: center;
    font-family: Arial;
}

img {
    width: 340px;
    height: 500px;
}

.title {
    text-align: center;
    font-size: large;
    font-family: Arial;
}

.btn-primary {
    margin-top: 20px;
    display: block;
    margin: 10px auto;
    text-decoration: none;
    background-color: red;
    padding: 5px 10px;
    color: whitesmoke;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: rgb(255, 10, 10, 0.9);
}

.btn-secondary {
    margin-top: 20px;
    display: block;
    margin: 10px auto;
    width: 150px;
    text-decoration: none;
    background-color: rgb(4, 4, 137);
    padding: 10px 5px;
    color: whitesmoke;
    border-radius: 10px;
}

.m-1 {
    margin: 10px;
}

.bg-y {
    background-color: yellow;
}

.bg-n {
    background-color: black;
}

.bg-b {
    background-color: blue;
}